<div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
      <ng-template igxDrawer>
        <nav>
          <span igxDrawerItem [isHeader]="true">Sidebar Listesi</span>
          <span igxDrawerItem routerLink="home">Home</span>
          <span igxDrawerItem routerLink="role">Role</span>
          <span igxDrawerItem routerLink="user">User</span>
          <span igxDrawerItem routerLink="data-binding">Data Binding</span>
        </nav>
      </ng-template>
    </igx-nav-drawer>
    <main>
      <!-- app content -->
    </main>
</div>